body {
  background-color: #121212;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 50px;
  background-color: #121212;
  color: white;
}

.header-button {
  width: 100px;
  height: 40px;
  padding-bottom: 50px;
}

.day {
  justify-content: center;
  align-items: center;
}
.day-wrap {
  width: 80px;
  text-align: center;
}

h3 {
  color: white;
}

.lists {
  position: relative;
  left: 21 px;
  display: flex;
  justify-content: center;
}

.list {
  margin: 2rem;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  height: 20px;
  color: black;
}
